<app-slideshow [imageInfo]="slides"></app-slideshow>
<h2 style="font-weight: bold">About Me</h2>
<p>
  I grew up in Cottage Grove Minnesota with my parents, three younger brothers, and a black lab dog. While growing
  up, I took part in the organized sports ice hockey, tennis, and trap shooting. During my time in these sports, I led
  multiple ice hockey teams as a captain for my work ethic and positive attitude and led the Junior Varsity tennis team
  as a captain during my Junior and Senior year of highschool. Outside of school activities, I enjoy making short
  videos, water skiing, wakeboarding, cooking, hiking, and hanging out with friends. Overall, my goal is to get a position
  as a software developer that will allow me to perform to the best of my ability, continue to learn, and help others achieve
  their goals.
</p>

<h3>My Experience</h3>
<p>
  Currently, as a senior in Computer Engineering, I am finishing up getting a Bachelor in Computer Engineering. Most of
  my knowledge of this field is from the doing projects in classes but I have also gained experience through multiple internships.
  Each of my internships has taken place at Microsoft. My first internship, over the summer of 2018, I was an explorer intern.
  It consisted of working on a project as a project manager for a bit and
  implementing the project as a software developer. Through this experience I gained knowledge into what it takes
  to get all the information needed for a project and the process of following through on the project as a
  developer.
</p>
<p>
  For my next internship, over the summer of 2019, I worked as a software developer. During this internship I worked on
  automating a repetitive part of a process. Throughout this experience I was exposed to many Azure technologies and with Azure itself.
  Aside from these techonology skills, I also gained a lot more experience in giving presentations and working in a team, especially
  because there was a lot that I did not know about causing me to look to others for help.
</p>
<p>
  For my final internship, over the summer of 2020, I again worked as a software developer, except the internship was remote instead of in Washington.
  During this internship I worked on adding new functionality to an open source .NET tool, specifically dotnet-apiport. The tool is to estimate
  the amount of effort that it will take to move a .NET project between the different .NET versions and my project was adding information about the
  potential exceptions that may be thrown by methods that have signatures but no implementation. In working to complete this project, I learned a lot
  about the .NET code and intermediate language. I also gained valuable experience in adding to started projects, like how to design a project addition
  based on the already implemented project flow. Aside from these skills, I also got practice in being self motivated and working remotely because of the
  remote state of the internship. Parts of this project can actually be viewed on Github <a href="https://github.com/microsoft/dotnet-apiport/issues?q=author%3ALoopedBard3">here</a>
</p>
<p>
  For more details about me you can download my resume using this link: <a href="assets\downloadables\ParkerBibusResume2020.pdf" download="General Education Reflection">Download my resume</a>
</p>
