<h2 style="font-weight: bold">About Me</h2>
<app-slideshow [imageInfo]="slides"></app-slideshow>
<p>
  I grew up in Cottage Grove Minnesota with my parents, three younger brothers, and a black lab dog. While growing
  up, I took part in the organized sports ice hockey, tennis, and trap shooting. During my time in these sports, I led
  multiple ice hockey teams as a captain for my work ethic and positive attitude and led the Junior Varsity tennis team
  as a captain during my Junior and Senior year of highschool. Outside of school activities, I enjoy making short
  videos, water skiing, wakeboarding, cooking, hiking, and hanging out with friends.
</p>
<p>
  Currently, as a sophomore college student, I am working towards getting a Bachelor in Computer Engineering with an
  interest in Cyber Security. Most of
  my knowledge of this field is from the doing projects in classes but I have also gained experience through being a
  part of the
  East Ridge Robotics Team and personal projects. These projects include making customized led light code for
  Arduino, making simple text based and GUI based applications in Java, and making this website.
</p>
<p>
  Recently, I gained experience in this field working as an Explorer Intern at Microsoft in Redmond, Washington
  over the summer of 2018. My internship consisted of working on a project as a project manager for a bit and
  implementing the project as a software developer. Through this experience I gained knowledge into what it takes
  to get all the information needed for a project and the process of following through on the project as a
  developer.
</p>
