<h1>Welcome to my Portfolio Website!</h1>
<h2>
  Here you will find projects I have worked on during my years in Highschool and here at Iowa State University, and other information
  about me.
</h2>
<app-slideshow [imageInfo]="slides"></app-slideshow>
<h4>
  This e-portfolio is a requirement for graduation within the ECpE curriculums at Iowa State University. These pages
  are created and maintained by each individual student for the purposes of the EE/CprE 494 course. Please contact the
  ECpE Student Services Office at 515-294-6092 if you have any questions concerning the Portfolio program.
</h4>
