<h2 style="font-weight: bold">Essays</h2>
<p>
  This section contains some of the different essays I have written here at Iowa State.
  The specific essays contained are an ethics essay, a general education reflection, and a cumulative experience reflection.
  Each can be downloaded as a pdf with their corresponding links.
</p>
<div>
  <h3>Ethics Essay</h3>
  <p>
    This essay was written for a program exploration class I took, CPRE 394. In this class we spent some time looking at the IEEE Code of Ethics to give us an idea of what we need to do to stay ethical as engineers. We also looked at and applied this code of ethics to a few real world situations to expand our learning. After these group excercises we individually wrote essays to reflect on this experience.
  </p>
  <a href="assets\downloadables\Ethics_Essay_Parker_Bibus.pdf" download="Ethics Essay">Download my
    essay on ethics</a>
</div>
<br>
<br>
<div>
  <h3>General Education Reflection</h3>
  <p>
    This reflection was written as a part of a senior portfolio class, EE 494. Throughout my time at Iowa State University, I took multiple different general education electives in order to learn about topics outside of engineering. This reflection looks at some of these electives and how I grew from taking them.
  </p>
  <a href="assets\downloadables\494GeneralEducationReflectionParkerBibus.pdf" download="General Education Reflection">Download my
    General Education Reflection</a>
</div>
<br>
<br>
<div>
  <h3>Cumulative Reflection</h3>
  <p>
    This reflection was written as a part of a senior portfolio class, EE 494. Throughout my time at Iowa State University, I learned a lot about many different topics and grew a lot as a person. This reflection is an overall look back at my time at Iowa State University with a focus on the skills and knowledge I learned.
  </p>
  <a href="assets\downloadables\494CumulativeReflectionParkerBibus.pdf" download="Cumulative Reflection">Download my
    Cumulative Reflection</a>
</div>
