<h2 style="font-weight: bold">Projects</h2>
<div>
  <h3>Machine Learning with K-Means Clustering and Least Squares</h3>
  <p>
    One project I have worked on here at Iowa state is learning and implementing two machine learning algorithms. This
    project was done as part of the undergraduate mentorship program with the goal being to learn and implement two
    machine learning algorithms and use them to read handwritten digits. During this project I gained knowledge of the
    linear algebra behind the k-means clustering and least squares machine learning algorithms. I also gained experience
    in the Matlab programming language. These algorithms are basic in terms of machine learning but can still be used to
    recognize linear trends or group items together based on their similarities.

  </p>
  <a href="assets\downloadables\MachineLearningReportParkerBibus.pdf" download="Machine Learning Paper">Download my
    paper on the machine learning algorithms</a>
</div>
<br>
<br>
<div>
  <h3>FPGA Calculator</h3>
  <!-- <app-slideshow [imageInfo]="FPGASlides"></app-slideshow> -->
  <p>
    Another project I have worked on is a creating hand-held calculator that runs on an FPGA board. The goal of this
    project was to prove that we learned the basics of analog circuits by creating a calculator, that runs on an FPGA
    board, from scratch. In doing this project, I demonstrated the Verilog programming and design skills that I learned
    during the class. With the experience gained from this project, I will now be able to create more complex verilog
    programs and system designs.
  </p>
</div>
<br>
<br>
<div>
  <h3>Computer Engineering 288, Search Roomba</h3>
  <p>
    This was a team project as a part of the CPRE 288 class I took my sophomore year at ISU. For this project, we did a
    small but full project cycle. This included figuring out the problem or issue we were solving, possible solutions to
    the problem, and finally creating a proof-of-concept of a solution to this problem. The problem we aimed to solve
    was how to remotely explore possibly dangerous areas for things like search and rescue after a disaster. The
    solution we came up with was a remote-controlled bot that was of a smaller size so it could get through tight areas.
    With the Roomba that we were given to accomplish this, we coded the micro-controller running the Roomba using C to
    access the registers and sensor data. In the end, we drove the Roomba through a small series of obstacles until it
    found its goal without being able to see the course or the Roomba. For this run, I was the driver of the Roomba and
    was responsible for ensuring we were in the goal before we signaled that we thought we were at the end. A video of
    this can be viewed here:
  </p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
      src="https://drive.google.com/file/d/1w91fGTA8UvP0A-p6ggk5BCWe7uirA9gS/preview" allowfullscreen></iframe>
  </div>
  <br>
  <a href="https://drive.google.com/file/d/1w91fGTA8UvP0A-p6ggk5BCWe7uirA9gS/view?usp=sharing">
    Link to final project test video in new window
  </a>
  <p>
    This gave me lots of great experience in hardware programming in C as well as a better understanding of the
    lower level details of embedded systems. It also gave me more experience in staying calm in stressful situations
    because the trial run was really important and making it to the goal and being correct in where we were was a large
    portion of the project.
  </p>
</div>
<br>
<br>
<div>
  <h3>C/C++ Roguelike Video Game, Computer Science 327</h3>
  <p>
    This is one of the favorite projects I have done. It consisted of week to week work throughout a semester
    implementing specified features of a roguelike game in C and eventually C++. We started from the basics of randomly
    generating dungeons and finished with a game that uses ncurses to display a dungeon that is filled with monsters and
    items which each have their own characteristics. This project helped me gain a lot of experience in refactoring and
    adding onto someone else's code because each week the professor would post his solution to the assignment and
    allowed us to build off his for the next assignment. Having his code available also exposed me to new ways of doing
    things in C and C++ that he learned through his work experience. I also got a lot of practice debugging issues using
    gdb and Valgrind because I used them to check for memory leaks and get more information on any faults my game had.
    If you would like to try the game out, take a look at my GitHub page under COMS327Spring2019 or at the direct link
    below. Each folder is a different version of the code with newer versions building off the previous ones, except for
    version 2.0 which is a hangman/wheel of fortune solver I did at the end of the semester. Look at the READMEs for
    more information on how to run the game, mostly you just need to have g++ and make to run the makefile. Then you can
    execute ./rlg327 to play the game.
  </p>
  <a href="https://github.com/LoopedBard3/COMS327Spring2019">
    Link to Roguelike terminal game
  </a>
</div>