<h2 style="font-weight: bold">Projects</h2>
<div>
  <h3>Machine Learning with K-Means Clustering and Least Squares</h3>
  <p>
    One project I have worked on here at Iowa state is learning and implementing two machine learning algorithms. This
    project was done as part of the undergraduate mentorship program with the goal being to learn and implement two
    machine learning algorithms and use them to read handwritten digits. During this project I gained knowledge of the
    linear algebra behind the k-means clustering and least squares machine learning algorithms. I also gained
    experience
    in the Matlab programming language. These algorithms are basic in terms of machine learning but can still be used
    to
    recognize linear trends or group items together based on their similarities.

  </p>
  <a href="src\assets\downloadables\MachineLearningReportParkerBibus.pdf" download="Machine Learning Paper">Download my
    paper on the machine learning algorithms</a>
</div>
<br>
<br>
<div>
  <h3>FPGA Calculator</h3>
  <app-slideshow [imageInfo]="FPGASlides"></app-slideshow>
  <p>
    Another project I have worked on is a creating hand-held calculator that runs on an FPGA board. The goal of this
    project was to prove that we learned the basics of analog circuits by creating a calculator, that runs on an FPGA
    board, from scratch. In doing this project, I demonstrated the Verilog programming and design skills that I learned
    during the class. With the experience gained from this project, I will now be able to create more complex verilog
    programs and system designs.
  </p>
</div>
