<h1>Contact and Social Media:</h1>
<div class="contact-buttons">
  <a href="https://www.linkedin.com/in/parker-bibus/" style="font-size: 3.5rem;" target="_blank"><button class="button-linkedin"><i
        class="fa fa-linkedin-square" style="font-size: 4rem;"></i> &nbsp; LinkedIn Page</button></a>
  <a href="https://github.com/LoopedBard3" style="font-size: 3.5rem;" target="_blank"><button class="button-github"><i
        class="fa fa-github" style="font-size: 4rem;" target="_blank"></i> &nbsp; Github Profile</button></a>
  <a href="https://www.youtube.com/user/awsomepeer" target="_blank" style="font-size: 3.5rem;"><button class="button-youtube"><i class="fa fa-youtube"
        style="font-size: 4rem;"></i> &nbsp;Youtube</button></a>
  <a href="mailto:pbibus@hotmail.com" style="font-size: 3.5rem;"><button class="button-email">Email Me: pbibus@hotmail.com</button></a>
</div>
