<h1>Contact and Social Media:</h1>
<p><i class="fa fa-linkedin-square" style="font-size: 4rem;" target="_blank"></i> &nbsp;<a href="https://www.linkedin.com/in/parker-bibus/" style="font-size: 3.5rem;">LinkedIn Page</a></p>
<p><i class="fa fa-github" style="font-size: 4rem;" target="_blank"></i> &nbsp; <a href="https://github.com/LoopedBard3" style="font-size: 3.5rem;">Github Profile</a></p>
<p><i class="fa fa-youtube" style="font-size: 4rem;" target="_blank"></i> &nbsp;<a href="https://www.youtube.com/user/awsomepeer" style="font-size: 3.5rem;">Youtube</a></p>
<p><a href="mailto:pbibus@hotmail.com" style="font-size: 3.5rem;" target="_blank">Email Me: pbibus@hotmail.com</a></p>
