<h2 style="font-weight: bold">Senior Design Project</h2>
<p>
  This section contains information pertaining to the senior design project I am working on. It includes
  a description of the project, my role and contribution in the project, the skills and knowledge I have gained,
  and a link to the project.
</p>
<h3>Augmented Reality Chess Advisor</h3>
<p>
  The senior design/capstone project that I am a part of is creating an augmented reality chess advisor.
  The overall idea of the project is to create an application that takes in a chess game and is able to
  give recommendations based on the current board state, all while runing on a Vuzix Blade AR glasses set.
  This will allow for an inexperienced player to play against more skilled players and is a very good starting
  point for expanding this project to other games. The overall pipeline that we have decided on is to take a picture
  using the glasses, use computer vision to get a digital state for the board, and use a chess move engine to help the
  user make the best move.
</p>
<p>
  My role in this project is as the computer vision lead. The responsibilities I have are to ensure the computer vision
  is created with standard practices, delivered on schedule, and to the requirements of our project. So far, this has lead
  to me researching other projects that do similar computer vision to what we need and generally learning about OpenCV and
  the many different computer vision techniques. Amoung the most notable of the things I have learned about is image preprocessing
  and shape, specifically line, recognition, like with the hough line transform. By the end of this project, this role will have
  me having made an overall contribution of computer vision research, implementation, and testing. For more information and supporting
  documents for this project visit: <a href="https://sdmay21-05.sd.ece.iastate.edu/" target="_blank">Project/Group Link</a>.
</p>
